.Details{
  width: 100%;
  margin-top: 50px;
}
.Details-back{
  position: relative;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url('../images/star-wars.jpg');
  background-position: center;
  background-size: cover;
  padding: 0 10px;
  margin: 0 auto 40px auto;
}
.Details-back__items img{
  position: absolute;
  bottom: 0;
  left: -10px;
  width: 120px;
  max-height: 150px;
  border-radius: 2px;
}
.Details-back__title{
  width: 100%;
  font-size: 2.5rem;
  text-align: end;
  margin-top: 20px;
  margin-bottom: 20px;
}
.Details-back__items{
  width: 60%;
  padding: 5px;
  text-align: end;
}
.Details-back__items-item, .Details-back__items-popularity{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.7rem;
  margin-bottom: 15px;
}
.Details-back__items-popularity span{
  width: 20%;
  color: var(--red);
}
.Details-back__items-item p{
  width: 80%;
}
.Details-description{
  width: 85%;
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-align: center;
  margin: 0 auto 30px auto;
}
.Details-description__category{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  margin: 25px 0;
}
.Details-description__category li{
  width: 100px;
  color: var(--red);
  margin-right: 5px;
  margin-top: 5px;
}