.CarouselMovies{
  width: 95%;
  margin: 0 auto;
}
.CarouselMovies-title{
  font-size: 2rem;
  font-family: var(--font-title);
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.CarouselMovies-movies{
  display: flex;
  overflow-x: scroll;
}
.CarouselMovies-movies img{
  width: 150px;
  margin-bottom: 20px;
  margin-right: 2px;
  border-radius: 2px;
}
@media(min-width: 760px){
  .CarouselMovies-movies::-webkit-scrollbar{
    height: 5px;
    background-color: rgba(75, 75, 75, 0.2);
    border-radius: 8px;
  }
  .CarouselMovies-movies::-webkit-scrollbar-thumb{
    background-color: #2b2b2b;
    border-radius: 8px;
  }
  .CarouselMovies-movies img{
    width: 170px;
    cursor: pointer;
  }
  .CarouselMovies-movies img:hover{
    opacity: 0.9;
  }
}