:root{
  --red: #E50914;
  --dark-red: #831010;
  --black: #000;
  --light-black: #1a1a1a;
  --white: #fff0f0;
  --gray: #564d4d;

  --font-text: 'Inter';
  --font-title: 'Montserrat';
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  font-size: 62.5%;
  font-family: var(--font-text);
  color: var(--white);
  background-color: var(--black);
}