.Footer{
  width: 100%;
  background-color: var(--black);
  margin-top: 30px;
}
.Footer-myself{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--red);
  padding: 20px 0;
}
.Footer-myself__icons{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin: 0 auto;
}
.Footer-myself__icons div a{
  width: 40px;
  font-size: 4rem;
  color: var(--white);
}
.Footer-myself__icons div a:hover{
  color: var(--red);
}
.Footer-myself button{
  width: 120px;
  height: 40px;
  font-size: 1.5rem;
  background-color: var(--red);
  color: var(--white);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 10px;
}
.Footer-myself button:hover{
  background-color: var(--dark-red);
}
.Footer-logo{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}
.Footer-logo img{
  width: 90px;
  margin-bottom: 5px;
}
.Footer-logo p{
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
  color: var(--white);
}
/* @media(min-width:600px){
  .Footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .Footer-myself{
    width: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
  }
  .Footer-myself__icons{
    width: 50%;
    margin: 0;
  }
}
@media(min-width:768px){
  .Footer{
    width: calc(100% - 230px);
    padding: 0 30px;
  }
  .Footer-logo{
    display: flex;
    flex-wrap: nowrap;
  }
  .Footer-logo img{
    margin-right: 10px;
  }
} */

/* @media(min-width: 1400px){
  .Footer{
    width: 1053px;
    margin-left: auto;
    margin-right: 58.5px;
  }
} */